{% extends 'base.html' %}
{% block style%}
<style>
.btn{
    border:none;
}
</style>
{% endblock %}
{% block body %}
<div class="container">
    <table class="table table-bordered text-center table-hover table-sm">
        <thead class="thead-dark">
            <tr>
            <th scope="col" colspan="6">공강 시간표</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                {% for freeweek in freeweeks %}
                <th>{{ freeweek.day }}</td>
                {% endfor %}
            </tr>
            {% for freehour in freehours %}
            <tr>
                <th><div>{{ freehour.clock }}</div></th>
                {% for i in '12345'|make_list %}
                <td>
                    <a href="{% url 'freetimes:detail' i freehour.pk %}" style="color: inherit;">
                    <button type="button" class="btn btn-outline-light">
                                <i class="far fa-calendar-check"></i>
                        </button>
                    </a>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}