{% extends 'base.html' %} {% block body %}
<div class="container">
  <div class="card">
    <h5 class="card-header" style="text-align: center !important;">
      {{ name }}
    </h5>
    <div class="card-body">
      <p class="card-text">
        {% for member in members %}
        {{ member.mudanNo.num }} 기 &nbsp; {{ member.part.short }} &nbsp;
        {{ member.name }}
        <br>
        {% endfor %}
        <hr />
        {% for song in songs %}
        {{ song.title }} - {{ song.band }}
        <br>
        {% endfor %}
      </p>
      <div style="text-align: right;">
        <a href="{% url 'worktimes:list' %}" class="btn btn-secondary">뒤로가기</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}