{% extends 'base.html' %} {% block body %}
<div class="container">
  <table class="table table-bordered text-center table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col" colspan="8">합주 시간표</th>
      </tr>
    </thead>
    <tbody>
      <tr class="sticky-relative">
        <td></td>
        <th>월</th>
        <th>화</th>
        <th>수</th>
        <th>목</th>
        <th>금</th>
        <th>토</th>
        <th>일</th>
      </tr>
      {% for workhour in workhours %}
      <tr>
        <th>
          <div>{{ workhour.clock }}</div>
        </th>
        <td class="px-0">
          <div style="height: 2rem;">
            {% for table in tables %}
            {% if table.week.day == '월' and table.hour.clock == workhour.clock %}
            <a href="{% url 'worktimes:detail' table.nowteam.id %}" style="color: inherit; height:100%;">
              <button type="button" class="btn btn-outline-light w-100"
                style="background-color: {{ table.nowteam.color.name }}; padding: 0px; height:100%;">
                <span style="font-weight:bold">
                  {{ table.nowteam.short_name }}
                </span>
              </button>
            </a>
            {% endif %}
            {% endfor %}
          </div>
        </td>
        <td class="px-0">
          <div style="height: 2rem;">
            {% for table in tables %} {% if table.week.day == '화' and table.hour.clock == workhour.clock %}
            <a href="{% url 'worktimes:detail' table.nowteam.id %}" style="color: inherit;">
              <button type="button" class="btn btn-outline-light w-100"
                style="background-color: {{ table.nowteam.color.name }}; padding: 0px; height:100%;">
                <span style="font-weight:bold">{{ table.nowteam.short_name }}</span>
              </button>
            </a>
            {% endif %} {% endfor %}
          </div>
        </td>
        <td class="px-0">
          <div style="height: 2rem;">
            {% for table in tables %} {% if table.week.day == '수' and table.hour.clock == workhour.clock %}
            <a href="{% url 'worktimes:detail' table.nowteam.id %}" style="color: inherit;">
              <button type="button" class="btn btn-outline-light w-100"
                style="background-color: {{ table.nowteam.color.name }}; padding: 0px; height:100%;">
                <span style="font-weight:bold">{{ table.nowteam.short_name }}</span>
              </button>
            </a>
            {% endif %} {% endfor %}
          </div>
        </td>
        <td class="px-0">
          <div style="height: 2rem;">
            {% for table in tables %} {% if table.week.day == '목' and table.hour.clock == workhour.clock %}
            <a href="{% url 'worktimes:detail' table.nowteam.id %}" style="color: inherit;">
              <button type="button" class="btn btn-outline-light w-100"
                style="background-color: {{ table.nowteam.color.name }}; padding: 0px; height:100%;">
                <span style="font-weight:bold">{{ table.nowteam.short_name }}</span>
              </button>
            </a>
            {% endif %} {% endfor %}
          </div>
        </td>
        <td class="px-0">
          <div style="height: 2rem;">
            {% for table in tables %} {% if table.week.day == '금' and table.hour.clock == workhour.clock %}
            <a href="{% url 'worktimes:detail' table.week.nowteam.id %}" style="color: inherit;">
              <button type="button" class="btn btn-outline-light w-100"
                style="background-color: {{ table.nowteam.color.name }}; padding: 0px; height:100%;">
                <span style="font-weight:bold">{{ table.nowteam.short_name }}</span>
              </button>
            </a>
            {% endif %} {% endfor %}
          </div>
        </td>
        <td class="px-0">
          <div style="height: 2rem;">
            {% for table in tables %} {% if table.week.day == '토' and table.hour.clock == workhour.clock %}
            <a href="{% url 'worktimes:detail' table.nowteam.id %}" style="color: inherit;">
              <button type="button" class="btn btn-outline-light w-100"
                style="background-color: {{ table.nowteam.color.name }}; padding: 0px; height:100%;">
                <span style="font-weight:bold">{{ table.nowteam.short_name }}</span>
              </button>
            </a>
            {% endif %} {% endfor %}
          </div>
        </td>
        <td class="px-0">
          <div style="height: 2rem;">
            {% for table in tables %} {% if table.week.day == '일' and table.hour.clock == workhour.clock %}
            <a href="{% url 'worktimes:detail' table.nowteam.id %}" style="color: inherit;">
              <button type="button" class="btn btn-outline-light w-100"
                style="background-color: {{ table.nowteam.color.name }}; padding: 0px; height:100%;">
                <span style="font-weight:bold">{{ table.nowteam.short_name }}</span>
              </button>
            </a>
            {% endif %} {% endfor %}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}