{% extends 'base.html' %}
{% block body %}
<div class="container">
    <table class="table table-bordered text-center table-hover table-sm">
        <thead class="thead-dark">
            <tr>
            <th scope="col" colspan="8">합주 시간표</th>
            </tr>
        </thead>
        <tbody>
            <tr class="sticky-relative">
                <td></td>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
                <th>토</th>
                <th>일</th>
            </tr>
            {% for workhour in workhours %}
            <tr>
                <th><div>{{ workhour.clock }}</div></th>
                <td class="px-0">
                    <div style="height: 2rem;">
                        {% for table1 in tables1 %}
                            {% if table1.week.day == '월' and table1.hour.clock == workhour.clock %}
                                <button type="button" class="btn btn-outline-light w-100" data-toggle="modal" data-target="#table1_{{ workhour.clock }}" style="background-color: {{ table1.nowteam.color.name }}; padding: 0px; height:100%;">
                                    <span style="font-weight:bold">{{ table1.nowteam.short_name }}</span>
                                </button>
                                <!-- modal -->
                                <div class="modal fade" id="table1_{{ workhour.clock }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="table1_{{ workhour.clock }}Title">
                                                    <span style="font-weight:bold">{{ table1.nowteam.name }}</span>
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <span style="font-weight:bold">멤버</span>
                                                <br>
                                                <span style="word-break:break-word;">
                                                    {% for member in table1.nowteam.members.all %}
                                                        {{ member.mudanNo }}기 {{member.part.short}} {{ member.name }}{% if forloop.last %}{%else%},{% endif %}{% if forloop.counter == 3 %}<br>{% endif %}
                                                    {% endfor %}
                                                </span>
                                                <br>
                                                <hr>
                                                <span style="font-weight:bold">선곡</span>
                                                <br>
                                                    {% for nowsong in table1.nowteam.nowsong_set.all %}
                                                        {{ nowsong.title }} - {{ nowsong.band }}
                                                            {% if forloop.last %}
                                                            {% else %}
                                                            <br>
                                                            {% endif %}
                                                    {% endfor %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td class="px-0">
                    <div style="height: 2rem;">
                        {% for table2 in tables2 %}
                            {% if table2.week.day == '화' and table2.hour.clock == workhour.clock %}
                                <button type="button" class="btn btn-outline-light w-100" data-toggle="modal" data-target="#Monday_{{ workhour.clock }}" style="background-color: {{ table2.nowteam.color.name }}; padding: 0px; height:100%;">
                                    <span style="font-weight:bold">{{ table2.nowteam.short_name }}</span>
                                </button>
                                <!-- modal -->
                                <div class="modal fade" id="table1_{{ workhour.clock }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="table1_{{ workhour.clock }}Title">
                                                        <span style="font-weight:bold">{{ table2.nowteam.name }}</span>
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <span style="font-weight:bold">멤버</span>
                                                    <br>
                                                    <span style="word-break:break-word;">
                                                        {% for member in table2.nowteam.members.all %}
                                                            {{ member.mudanNo }}기 {{member.part.short}} {{ member.name }}{% if forloop.last %}{%else%},{% endif %}{% if forloop.counter == 3 %}<br>{% endif %}
                                                        {% endfor %}
                                                    </span>
                                                    <br>
                                                    <hr>
                                                    <span style="font-weight:bold">선곡</span>
                                                    <br>
                                                        {% for nowsong in table2.nowteam.nowsong_set.all %}
                                                            {{ nowsong.title }} - {{ nowsong.band }}
                                                                {% if forloop.last %}
                                                                {% else %}
                                                                <br>
                                                                {% endif %}
                                                        {% endfor %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td class="px-0">
                    <div style="height: 2rem;">
                        {% for table3 in tables3 %}
                            {% if table3.week.day == '수' and table3.hour.clock == workhour.clock %}
                                <button type="button" class="btn btn-outline-light w-100" data-toggle="modal" data-target="#Monday_{{ workhour.clock }}" style="background-color: {{ table3.nowteam.color.name }}; padding: 0px; height:100%;">
                                    <span style="font-weight:bold">{{ table3.nowteam.short_name }}</span>
                                </button>
                                <!-- modal -->
                                <div class="modal fade" id="table1_{{ workhour.clock }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="table1_{{ workhour.clock }}Title">
                                                        <span style="font-weight:bold">{{ table3.nowteam.name }}</span>
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <span style="font-weight:bold">멤버</span>
                                                    <br>
                                                    <span style="word-break:break-word;">
                                                        {% for member in table3.nowteam.members.all %}
                                                            {{ member.mudanNo }}기 {{member.part.short}} {{ member.name }}{% if forloop.last %}{%else%},{% endif %}{% if forloop.counter == 3 %}<br>{% endif %}
                                                        {% endfor %}
                                                    </span>
                                                    <br>
                                                    <hr>
                                                    <span style="font-weight:bold">선곡</span>
                                                    <br>
                                                        {% for nowsong in table3.nowteam.nowsong_set.all %}
                                                            {{ nowsong.title }} - {{ nowsong.band }}
                                                                {% if forloop.last %}
                                                                {% else %}
                                                                <br>
                                                                {% endif %}
                                                        {% endfor %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td class="px-0">
                    <div style="height: 2rem;">
                        {% for table4 in tables4 %}
                            {% if table4.week.day == '목' and table4.hour.clock == workhour.clock %}
                                <button type="button" class="btn btn-outline-light w-100" data-toggle="modal" data-target="#Monday_{{ workhour.clock }}" style="background-color: {{ table4.nowteam.color.name }}; padding: 0px; height:100%;">
                                    <span style="font-weight:bold">{{ table4.nowteam.short_name }}</span>
                                </button>
                                <!-- modal -->
                                <div class="modal fade" id="table1_{{ workhour.clock }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="table1_{{ workhour.clock }}Title">
                                                        <span style="font-weight:bold">{{ table4.nowteam.name }}</span>
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <span style="font-weight:bold">멤버</span>
                                                    <br>
                                                    <span style="word-break:break-word;">
                                                        {% for member in table4.nowteam.members.all %}
                                                            {{ member.mudanNo }}기 {{member.part.short}} {{ member.name }}{% if forloop.last %}{%else%},{% endif %}{% if forloop.counter == 3 %}<br>{% endif %}
                                                        {% endfor %}
                                                    </span>
                                                    <br>
                                                    <hr>
                                                    <span style="font-weight:bold">선곡</span>
                                                    <br>
                                                        {% for nowsong in table4.nowteam.nowsong_set.all %}
                                                            {{ nowsong.title }} - {{ nowsong.band }}
                                                                {% if forloop.last %}
                                                                {% else %}
                                                                <br>
                                                                {% endif %}
                                                        {% endfor %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td class="px-0">
                    <div style="height: 2rem;">
                        {% for table5 in tables5 %}
                            {% if table5.week.day == '금' and table5.hour.clock == workhour.clock %}
                                <button type="button" class="btn btn-outline-light w-100" data-toggle="modal" data-target="#Monday_{{ workhour.clock }}" style="background-color: {{ table5.nowteam.color.name }}; padding: 0px; height:100%;">
                                    <span style="font-weight:bold">{{ table5.nowteam.short_name }}</span>
                                </button>
                                <!-- modal -->
                                <div class="modal fade" id="table1_{{ workhour.clock }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="table1_{{ workhour.clock }}Title">
                                                        <span style="font-weight:bold">{{ table5.nowteam.name }}</span>
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <span style="font-weight:bold">멤버</span>
                                                    <br>
                                                    <span style="word-break:break-word;">
                                                        {% for member in table5.nowteam.members.all %}
                                                            {{ member.mudanNo }}기 {{member.part.short}} {{ member.name }}{% if forloop.last %}{%else%},{% endif %}{% if forloop.counter == 3 %}<br>{% endif %}
                                                        {% endfor %}
                                                    </span>
                                                    <br>
                                                    <hr>
                                                    <span style="font-weight:bold">선곡</span>
                                                    <br>
                                                        {% for nowsong in table5.nowteam.nowsong_set.all %}
                                                            {{ nowsong.title }} - {{ nowsong.band }}
                                                                {% if forloop.last %}
                                                                {% else %}
                                                                <br>
                                                                {% endif %}
                                                        {% endfor %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td class="px-0">
                    <div style="height: 2rem;">
                        {% for table6 in tables6 %}
                            {% if table6.week.day == '토' and table6.hour.clock == workhour.clock %}
                                <button type="button" class="btn btn-outline-light w-100" data-toggle="modal" data-target="#Monday_{{ workhour.clock }}" style="background-color: {{ table6.nowteam.color.name }}; padding: 0px; height:100%;">
                                    <span style="font-weight:bold">{{ table6.nowteam.short_name }}</span>
                                </button>
                                <!-- modal -->
                                <div class="modal fade" id="table1_{{ workhour.clock }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="table1_{{ workhour.clock }}Title">
                                                        <span style="font-weight:bold">{{ table7.nowteam.name }}</span>
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <span style="font-weight:bold">멤버</span>
                                                    <br>
                                                    <span style="word-break:break-word;">
                                                        {% for member in table7.nowteam.members.all %}
                                                            {{ member.mudanNo }}기 {{member.part.short}} {{ member.name }}{% if forloop.last %}{%else%},{% endif %}{% if forloop.counter == 3 %}<br>{% endif %}
                                                        {% endfor %}
                                                    </span>
                                                    <br>
                                                    <hr>
                                                    <span style="font-weight:bold">선곡</span>
                                                    <br>
                                                        {% for nowsong in table7.nowteam.nowsong_set.all %}
                                                            {{ nowsong.title }} - {{ nowsong.band }}
                                                                {% if forloop.last %}
                                                                {% else %}
                                                                <br>
                                                                {% endif %}
                                                        {% endfor %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td class="px-0">
                    <div style="height: 2rem;">
                        {% for table7 in tables7 %}
                            {% if table.week.day == '일' and table7.hour.clock == workhour.clock %}
                                <button type="button" class="btn btn-outline-light w-100" data-toggle="modal" data-target="#Monday_{{ workhour.clock }}" style="background-color: {{ table7.nowteam.color.name }}; padding: 0px; height:100%;">
                                    <span style="font-weight:bold">{{ table7.nowteam.short_name }}</span>
                                </button>
                                <!-- modal -->
                                <div class="modal fade" id="table1_{{ workhour.clock }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="table1_{{ workhour.clock }}Title">
                                                        <span style="font-weight:bold">{{ table7.nowteam.name }}</span>
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <span style="font-weight:bold">멤버</span>
                                                    <br>
                                                    <span style="word-break:break-word;">
                                                        {% for member in table7.nowteam.members.all %}
                                                            {{ member.mudanNo }}기 {{member.part.short}} {{ member.name }}{% if forloop.last %}{%else%},{% endif %}{% if forloop.counter == 3 %}<br>{% endif %}
                                                        {% endfor %}
                                                    </span>
                                                    <br>
                                                    <hr>
                                                    <span style="font-weight:bold">선곡</span>
                                                    <br>
                                                        {% for nowsong in table7.nowteam.nowsong_set.all %}
                                                            {{ nowsong.title }} - {{ nowsong.band }}
                                                                {% if forloop.last %}
                                                                {% else %}
                                                                <br>
                                                                {% endif %}
                                                        {% endfor %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
