{% extends 'base.html' %}
{% block body %}
<div class="container">
    <table class="table table-borderless mt-2">
        <thead class="thead-dark ">
            <tr>
            <th scope="col" class="text-center">{{ notice.title }}</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                        <th class="text-right pr-3">작성자 : {{ notice.name }}</th>
                    </tr>
            
            <tr>
            <td class="pl-4"><textarea class="w-100" rows="30">{{ notice.content }}</textarea></td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div class="d-flex flex-row-reverse">
        <a href="{% url 'notices:list' %}" class="btn btn-secondary">돌아가기</a>
        <a href="{% url 'notices:update' notice.pk %}" class="btn btn-secondary mr-1">수정</a>
        <a href="{% url 'notices:delete' notice.pk %}" class="btn btn-secondary mr-1">삭제</a>
    </div>

</div>








{% endblock %}