{% extends 'base.html' %}
{% block body %}
<div class="container">
    <table class="table table-hover table-bordered text-center mt-2">
        <thead class="thead-dark">
            <tr>
            <th scope="col" colspan="4">Team 정보</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">name</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th scope="row">Member</th>
                <td>{% for member in members %}<a href="{% url 'members:detail' member.pk %}">{{ member.mudanNo.num }}_{{ member.part.short }}_{{ member.name }}</a><br>{% endfor %}</td>
            </tr>
            <tr>
                <th scope="row">Video List</th>
                <td>{% for video in videos %}<a href="{% url 'videos:watch' video.pk %}">{{video.year}}_{{video.concert}} : {{video.song_title}} - {{ video.song_band }}</a><br><br>{% endfor %}</td>
            </tr>

        </tbody>
    </table>
</div>








{% endblock %}